<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.unicorn.sxshenwutong">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!--<uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />-->

    <application
        android:name=".a.app.App"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".b.splash.SplashAct"
            android:theme="@style/Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".b.login.LoginAct" />
        <activity android:name=".b.court.CourtAct" />
        <activity android:name=".b.userType.UserTypeAct" />
        <activity android:name=".c.main.MainAct" />
        <activity android:name=".spdb.list.spdb.SpdbListAct" />
        <activity android:name=".spdb.sycxbgSq.SycxbgSqAct" />
        <activity android:name=".spdb.sxbgSq.SxbgSqAct" />
        <activity android:name=".spdb.list.ajsqsp.AjspsqListAct" />
        <activity android:name=".d.spdsp.list.SpdspListAct" />
        <activity android:name=".d.spdsp.sp.SycxbgAct" />
        <activity android:name=".d.spdsp.sp.FdsyAct" />
        <activity android:name=".d.ajws.AjwsListAct" />
        <activity android:name=".d.ajcl.AjclListAct" />
        <activity android:name=".spdb.wssp.WsspSqAct" />
        <activity android:name=".d.ajws.AjwsSelectListAct" />
        <activity android:name=".d.ajcl.AjclVideoAct" />
        <activity android:name=".d.ajcl.AjclAudioAct" />
        <activity android:name=".d.spdsp.WsspAct" />


        <activity android:name=".d.ajcl.AjclPhotoAct" />

        <activity android:name=".e.sawl.SawlListAct" />
        <activity android:name=".e.lawys.LawysListAct" />
        <activity android:name=".e.jasc.JascListAct" />
        <activity android:name=".e.sx.SxListAct" />
        <activity android:name=".e.dtkt.DtktListAct" />

        <activity
            android:name="com.afollestad.materialcamera.CaptureActivity"
            android:theme="@style/MaterialCamera.CaptureActivity" />
        <activity
            android:name="com.afollestad.materialcamera.CaptureActivity2"
            android:theme="@style/MaterialCamera.CaptureActivity" />

    </application>

</manifest>
